@using ZVV_Web_Lab_1.Models
@model Cart
@{ 
    ViewBag.Title = "Содержимое корзины";
}

<h2>
   Ваша корзина
</h2>
<table class="table">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Количество</th>
            <th>Всего стоимость</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CartItem cartItem in Model.GetItems())
        {
        <tr>
            <td>@cartItem.Glassware.GW_Name</td>
            <td>@cartItem.Quantity</td>
            <td>@(cartItem.Glassware.GW_Price * cartItem.Quantity)</td>
        </tr>
        }
    </tbody>
</table>
<a href="@TempData["returnUrl"]" class="btn btn-default">Вернуться к меню</a>