@model IEnumerable<ZVV_Web_Lab_1.Models.MenuItem>
@{ ViewBag.LabNumber = "7";}

<h6>Kарта сайта</h6>
<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Name, item.Action, (string)item.Controller)
        </li>
    }
</ul> 