@using System.Security.Claims

<div class="nav navbar-left">
    @if (User.Identity.IsAuthenticated)
    {
        ClaimsIdentity identity = User.Identity as ClaimsIdentity;
        var nick = identity.Claims.Where(c => c.Type == "nick").Select(c => c.Value).SingleOrDefault();

        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken() 
            <span>Hello, @nick! </span> <a href="javascript:document.getElementById('logoutForm').submit()">
            <span class="glyphicon glyphicon-logout"></span>Выйти</a>
        }
    }
    else {}
</div>
    <div class="nav navbar-right">
        @Html.Action("CartSummary", "Cart")
    </div>
