@model DAL_ZVV.Entities.LabGlassware

<div class='col-md-4'>
    <div class='thumbnail'>
        <img height="200" resource='#' alt='NoImage' />
        <div class="caption">
            <div class="item-name">
                <h3>@Model.GW_Name</h3>
            </div>
            <div class="item-description">
                @Model.GW_Description
            </div>
            <div class="centered">
                <h3 class="badge">@Model.GW_Price</h3>
            </div>
            <div class="centered">
                <a href="#" class="btn btn-primary">
                    <span class="glyphicon glyphicon-shoppingcart">
                    </span>
                    В корзину
                </a>
            </div>
        </div>
    </div>
</div>