@model DAL_ZVV.Entities.LabGlassware

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="..." alt="...">
        <p>@Html.HiddenFor(model => model.GW_ID)</p>
        <div class="caption">
            <h3>@Html.DisplayFor(model => model.GW_Name)</h3>
            <p>@Html.DisplayFor(model => model.GW_Description)</p>
        </div>
        <div class="label label-default">
            @Html.DisplayFor(model => model.GW_Price)
        </div>
        <span class="v_align_fix"></span>
    </div>
</div>