@model IEnumerable<DAL_ZVV.Entities.LabGlassware>
@using System.Text;

@*My version much clumsier but much shorter anyway*@
@*@foreach (var item in Model)
{
    int i = Model.ToList().IndexOf(item);
    int j = Model.ToList().Count;
    if (i % 3 == 0)
    {
        @MvcHtmlString.Create("<div class=\"row\">")
    }
    @Html.Partial("ItemViewPartial", item);
    if ((i != 0 && (i % 3 == 2)) || i == j)
    {
        @MvcHtmlString.Create("</div>")
    }
}*@


@{
    // объект для "собирания" разметки
    StringBuilder result = new StringBuilder();
    // счетчик эскизов в строке
    var i = 0;
    TagBuilder row = new TagBuilder("div");
    foreach (var item in Model)
    {

        if (i % 3 == 0) // для первого элемента в строке создаем новую строку
        {
            row = new TagBuilder("div");
            row.AddCssClass("row");
            row.AddCssClass("item-row");
        }

        i++;

        row.InnerHtml += Html.Partial("ItemViewPartial", item);
        if (i % 3 == 0) // если строка закончена
        {
            // добавить строку в разметку
            result.Append(row.ToString());
        }

    }
    if (i != 3) // если последняя строка не заполнена
    {
        // добавить строку в разметку
        result.Append(row.ToString());
        // обнулить счетчик элементов в строке
        i = 0;
    }
}
<!-- Получить готовую разметку -->
@MvcHtmlString.Create(result.ToString())